@import 'config/variables';
@import 'components';
@import 'utilities';
@import 'base';

@layer payload-default {
  :root {
    --font-body: 'Noto Sans Thai', 'Noto Sans Thai Fallback', sans-serif;
    --font-serif: 'Noto Sans Thai', 'Noto Sans Thai Fallback', sans-serif;

    --color-base-0: #f7f9fb;
    --color-base-50: #f3f6fa;
    --color-base-100: #e7f0f7;
    --color-base-150: #d8e7f3;
    --color-base-200: #c9deee;
    --color-base-250: #b1d1e7;
    --color-base-300: #99c3e0;
    --color-base-350: #78b0d5;
    --color-base-400: #529bc9;
    --color-base-450: #4992c2;
    --color-base-500: #3e89b9;
    --color-base-550: #357baf;
    --color-base-600: #2d6d9c;
    --color-base-650: #296291;
    --color-base-700: #26587e;
    --color-base-750: #255173;
    --color-base-800: #234b69;
    --color-base-850: #224562;
    --color-base-900: #214059;
    --color-base-950: #203a52;
    --color-base-1000: #1f364b;

    --color-success-50: #edfcf4;
    --color-success-100: #d1fae5;
    --color-success-150: #bff6db;
    --color-success-200: #a7f3d0;
    --color-success-250: #8df0c3;
    --color-success-300: #6ee7b7;
    --color-success-350: #51ddae;
    --color-success-400: #34d399;
    --color-success-450: #22c08d;
    --color-success-500: #10b981;
    --color-success-550: #0c9f72;
    --color-success-600: #059669;
    --color-success-650: #048761;
    --color-success-700: #047857;
    --color-success-750: #056b4e;
    --color-success-800: #065f46;
    --color-success-850: #065741;
    --color-success-900: #064e3b;
    --color-success-950: #064434;

    --color-error-50: #fdedee;
    --color-error-100: #fbe9eb;
    --color-error-150: #fcd6d6;
    --color-error-200: #fecaca;
    --color-error-250: #fcc4c4;
    --color-error-300: #fca5a5;
    --color-error-350: #fa8c8c;
    --color-error-400: #f87171;
    --color-error-450: #f35959;
    --color-error-500: #ef4444;
    --color-error-550: #e63535;
    --color-error-600: #dc2626;
    --color-error-650: #cb2121;
    --color-error-700: #b91c1c;
    --color-error-750: #a91c1c;
    --color-error-800: #991b1b;
    --color-error-850: #8c1c1c;
    --color-error-900: #7f1d1d;
    --color-error-950: #741e1e;

    --color-warning-50: #fefbea;
    --color-warning-100: #fef9c3;
    --color-warning-150: #fef4a5;
    --color-warning-200: #fef08a;
    --color-warning-250: #fce865;
    --color-warning-300: #fde047;
    --color-warning-350: #fbd32e;
    --color-warning-400: #facc15;
    --color-warning-450: #f0bf0c;
    --color-warning-500: #eab308;
    --color-warning-550: #d99d06;
    --color-warning-600: #ca8a04;
    --color-warning-650: #b77602;
    --color-warning-700: #a16200;
    --color-warning-750: #935a0a;
    --color-warning-800: #854d0e;
    --color-warning-850: #7b4510;
    --color-warning-900: #713f12;
    --color-warning-950: #673714;

    --color-blue-50: #ecf7ff;
    --color-blue-100: #d6edff;
    --color-blue-150: #b7deff;
    --color-blue-200: #99d1ff;
    --color-blue-250: #78c2ff;
    --color-blue-300: #57b3ff;
    --color-blue-350: #39a3ff;
    --color-blue-400: #1a98ff;
    --color-blue-450: #0d88f0;
    --color-blue-500: #0076d6;
    --color-blue-550: #006aba;
    --color-blue-600: #0062b3;
    --color-blue-650: #00569e;
    --color-blue-700: #004c8a;
    --color-blue-750: #00437a;
    --color-blue-800: #003866;
    --color-blue-850: #002d52;
    --color-blue-900: #00223d;
    --color-blue-950: #001b30;

    --theme-border-color: var(--theme-elevation-150);

    --theme-success-50: var(--color-success-50);
    --theme-success-100: var(--color-success-100);
    --theme-success-150: var(--color-success-150);
    --theme-success-200: var(--color-success-200);
    --theme-success-250: var(--color-success-250);
    --theme-success-300: var(--color-success-300);
    --theme-success-350: var(--color-success-350);
    --theme-success-400: var(--color-success-400);
    --theme-success-450: var(--color-success-450);
    --theme-success-500: var(--color-success-500);
    --theme-success-550: var(--color-success-550);
    --theme-success-600: var(--color-success-600);
    --theme-success-650: var(--color-success-650);
    --theme-success-700: var(--color-success-700);
    --theme-success-750: var(--color-success-750);
    --theme-success-800: var(--color-success-800);
    --theme-success-850: var(--color-success-850);
    --theme-success-900: var(--color-success-900);
    --theme-success-950: var(--color-success-950);

    --theme-warning-50: var(--color-warning-50);
    --theme-warning-100: var(--color-warning-100);
    --theme-warning-150: var(--color-warning-150);
    --theme-warning-200: var(--color-warning-200);
    --theme-warning-250: var(--color-warning-250);
    --theme-warning-300: var(--color-warning-300);
    --theme-warning-350: var(--color-warning-350);
    --theme-warning-400: var(--color-warning-400);
    --theme-warning-450: var(--color-warning-450);
    --theme-warning-500: var(--color-warning-500);
    --theme-warning-550: var(--color-warning-550);
    --theme-warning-600: var(--color-warning-600);
    --theme-warning-650: var(--color-warning-650);
    --theme-warning-700: var(--color-warning-700);
    --theme-warning-750: var(--color-warning-750);
    --theme-warning-800: var(--color-warning-800);
    --theme-warning-850: var(--color-warning-850);
    --theme-warning-900: var(--color-warning-900);
    --theme-warning-950: var(--color-warning-950);

    --theme-error-50: var(--color-error-50);
    --theme-error-100: var(--color-error-100);
    --theme-error-150: var(--color-error-150);
    --theme-error-200: var(--color-error-200);
    --theme-error-250: var(--color-error-250);
    --theme-error-300: var(--color-error-300);
    --theme-error-350: var(--color-error-350);
    --theme-error-400: var(--color-error-400);
    --theme-error-450: var(--color-error-450);
    --theme-error-500: var(--color-error-500);
    --theme-error-550: var(--color-error-550);
    --theme-error-600: var(--color-error-600);
    --theme-error-650: var(--color-error-650);
    --theme-error-700: var(--color-error-700);
    --theme-error-750: var(--color-error-750);
    --theme-error-800: var(--color-error-800);
    --theme-error-850: var(--color-error-850);
    --theme-error-900: var(--color-error-900);
    --theme-error-950: var(--color-error-950);

    --theme-elevation-0: var(--color-base-0);
    --theme-elevation-50: var(--color-base-50);
    --theme-elevation-100: var(--color-base-100);
    --theme-elevation-150: var(--color-base-150);
    --theme-elevation-200: var(--color-base-200);
    --theme-elevation-250: var(--color-base-250);
    --theme-elevation-300: var(--color-base-300);
    --theme-elevation-350: var(--color-base-350);
    --theme-elevation-400: var(--color-base-400);
    --theme-elevation-450: var(--color-base-450);
    --theme-elevation-500: var(--color-base-500);
    --theme-elevation-550: var(--color-base-550);
    --theme-elevation-600: var(--color-base-600);
    --theme-elevation-650: var(--color-base-650);
    --theme-elevation-700: var(--color-base-700);
    --theme-elevation-750: var(--color-base-750);
    --theme-elevation-800: var(--color-base-800);
    --theme-elevation-850: var(--color-base-850);
    --theme-elevation-900: var(--color-base-900);
    --theme-elevation-950: var(--color-base-950);
    --theme-elevation-1000: var(--color-base-1000);
  }

  html[data-theme='dark'] {
    --theme-border-color: var(--theme-elevation-150);

    --theme-elevation-0: var(--color-base-900);
    --theme-elevation-50: var(--color-base-850);
    --theme-elevation-100: var(--color-base-800);
    --theme-elevation-150: var(--color-base-750);
    --theme-elevation-200: var(--color-base-700);
    --theme-elevation-250: var(--color-base-650);
    --theme-elevation-300: var(--color-base-600);
    --theme-elevation-350: var(--color-base-550);
    --theme-elevation-400: var(--color-base-450);
    --theme-elevation-450: var(--color-base-400);
    --theme-elevation-550: var(--color-base-350);
    --theme-elevation-600: var(--color-base-300);
    --theme-elevation-650: var(--color-base-250);
    --theme-elevation-700: var(--color-base-200);
    --theme-elevation-750: var(--color-base-150);
    --theme-elevation-800: var(--color-base-100);
    --theme-elevation-850: var(--color-base-50);
    --theme-elevation-900: var(--color-base-0);
    --theme-elevation-950: var(--color-base-0);
    --theme-elevation-1000: var(--color-base-0);

    --theme-success-50: var(--color-success-950);
    --theme-success-100: var(--color-success-900);
    --theme-success-150: var(--color-success-850);
    --theme-success-200: var(--color-success-800);
    --theme-success-250: var(--color-success-750);
    --theme-success-300: var(--color-success-700);
    --theme-success-350: var(--color-success-650);
    --theme-success-400: var(--color-success-600);
    --theme-success-450: var(--color-success-550);
    --theme-success-550: var(--color-success-450);
    --theme-success-600: var(--color-success-400);
    --theme-success-650: var(--color-success-350);
    --theme-success-700: var(--color-success-300);
    --theme-success-750: var(--color-success-250);
    --theme-success-800: var(--color-success-200);
    --theme-success-850: var(--color-success-150);
    --theme-success-900: var(--color-success-100);
    --theme-success-950: var(--color-success-50);

    --theme-warning-50: var(--color-warning-950);
    --theme-warning-100: var(--color-warning-900);
    --theme-warning-150: var(--color-warning-850);
    --theme-warning-200: var(--color-warning-800);
    --theme-warning-250: var(--color-warning-750);
    --theme-warning-300: var(--color-warning-700);
    --theme-warning-350: var(--color-warning-650);
    --theme-warning-400: var(--color-warning-600);
    --theme-warning-450: var(--color-warning-550);
    --theme-warning-550: var(--color-warning-450);
    --theme-warning-600: var(--color-warning-400);
    --theme-warning-650: var(--color-warning-350);
    --theme-warning-700: var(--color-warning-300);
    --theme-warning-750: var(--color-warning-250);
    --theme-warning-800: var(--color-warning-200);
    --theme-warning-850: var(--color-warning-150);
    --theme-warning-900: var(--color-warning-100);
    --theme-warning-950: var(--color-warning-50);

    --theme-error-50: var(--color-error-950);
    --theme-error-100: var(--color-error-900);
    --theme-error-150: var(--color-error-850);
    --theme-error-200: var(--color-error-800);
    --theme-error-250: var(--color-error-750);
    --theme-error-300: var(--color-error-700);
    --theme-error-350: var(--color-error-650);
    --theme-error-400: var(--color-error-600);
    --theme-error-450: var(--color-error-550);
    --theme-error-550: var(--color-error-450);
    --theme-error-600: var(--color-error-400);
    --theme-error-650: var(--color-error-350);
    --theme-error-700: var(--color-error-300);
    --theme-error-750: var(--color-error-250);
    --theme-error-800: var(--color-error-200);
    --theme-error-850: var(--color-error-150);
    --theme-error-900: var(--color-error-100);
    --theme-error-950: var(--color-error-50);
  }
}
