@layer payload-default {
  .checkbox-input:not(.checkbox-input--read-only):active .checkbox-input__input,
  .checkbox-input:not(.checkbox-input--read-only):active input[type='checkbox'],
  .checkbox-input:not(.checkbox-input--read-only):focus-within .checkbox-input__input,
  .checkbox-input:not(.checkbox-input--read-only):focus-within input[type='checkbox'],
  .checkbox-input:not(.checkbox-input--read-only):focus .checkbox-input__input,
  .checkbox-input:not(.checkbox-input--read-only):focus input[type='checkbox'] {
    outline: 0;
    box-shadow: 0 0 3px 3px var(--theme-elevation-150) !important;
    border: 1px solid var(--theme-elevation-150);
  }

  html {
    font-size: 14px;
  }
}
